.header-coentnt{
    padding:80px 300px 250px 200px;
    align-items: center;

}
.header-img{
    width: 80px;
    height: 150px;
    align-items: center;
}
.header-section{
    display: flex;
    background-color: antiquewhite;
    height: 500px;
}
.head-btn{
    background-color:#E55473 ;
    padding: 10px 15px;
    border: none;
    border-radius:5px;
}
.div1{
    text-align:center;
    padding:60px;
}
.flower-container {
    display: flex; 
    justify-content: center;
}
#pinkflower{
    width: 300px;
    height: 400px;
    background-color: #ffb7dad0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#red-flower{
    width: 300px;
    height: 400px;
    background-color: #0597A026;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#yellow-flower{
    width: 300px;
    height: 400px;
    background-color: #9eaf8ebb;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* background-size: contain; */
}
.flower-container div {
    justify-content: center;
    margin-left: 8px;  
}
#info{
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
    margin-left:140px;
}
#info div {
    padding: 5px;
    margin-left: 25px;
}
#offer {
    display: flex;
    text-align: center;
    background-color: #fdcfdad5;
}
#offer .offer-text {
    padding-top:100px ;
    padding-left:200px ;
}
.offer-text p {
    font-size:15px;
    height: 10px;
    width: 600px;
}
.offer-text button {
    height:40px;
    width: 80px;
    color: white;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}
#offer-img {
    margin-left: 70px;
}
#social-media{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  
}
.demo-flower{
    /* width: 400px; */
    display:flex;
   justify-content: center;
}
.demo-flower img {
    height: 300px;
    width: 250px;
    margin-left: 20px;
    
}
#importance-text{
    margin-top: 70px;
    background-color:  #fdcfdad5;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    

}
#shopping-info{
    text-align: center;
    background-image: url("image/Rectangle\ 9.png");
    height: 350px;
    width: 1070px;
    margin-top: 70px;
    margin-left: 140px;

    
}
#shopping-info input {
    width: 600px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}
#shopping-details{
    padding-top: 100px;
    
}
#shopping-details button{
    background-color: #E55473;
    width: 80px;
    height: 30px;
    border:none;
    border-radius: 5px;

}
#footer-section {
    text-align: center;
    height: 250px;
    background-color: black;
    color: white;
    margin-top: 70px;
    border-radius: 5px;
}
#footer-container{
    padding-top: 30px;
}
.color-text{
    font-size: 25px;

}